[submodule "nerdtree"]
	path = vimfiles/vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-markdown"]
	path = vimfiles/vimfiles/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim-airline"]
	path = vimfiles/vimfiles/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
