[submodule "nerdtree"]
	path = vimfiles/vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-markdown"]
	path = vimfiles/vimfiles/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim-airline"]
	path = vimfiles/vimfiles/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "ctrlp.vim"]
	path = vimfiles/vimfiles/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "csv.vim"]
	path = vimfiles/vimfiles/bundle/csv
	url = git://github.com/chrisbra/csv.vim.git 
[submodule "molokai"]
	path = vimfiles/vimfiles/bundle/molokai
	url = git://github.com/tomasr/molokai
[submodule "vim-surround"]
	path = vimfiles/vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
